fieldset {
  border: 0;
  position: relative;
  margin-top: 1rem;
}

fieldset > label {
  position: absolute;
  top: -1rem;
  color: #f65261;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  opacity: 0.8;
}

.modal_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 3.5rem;
}

.large_input,
.small_input {
  background: rgba(50, 50, 50, 0.948044);
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 4px;
  height: 2.5rem;
  color: white;
  font-size: 1.2rem;
  border: none;
}
.large_input::placeholder, .small_input::placeholder {
    padding-left: 1rem;
}
.large_input {
  width: 34rem;
}

.small_input {
  width: 18rem;
  float: right;
}

textarea {
  background: rgba(50, 50, 50, 0.948044);
  mix-blend-mode: normal;
  opacity: 0.8;
  border-radius: 4px;
  width: 100%;
  height: 8rem;
  color: white;
  
}

textarea::placeholder {
    padding-left: 1rem;
    font-size: 1.2rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}